@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
.wrapper{
    width:90%;
    margin: auto;
}
.navbar_center{
    display: flex;
    align-items: center;
}
.navbar{
    display: flex;
    width:100%;
    height:130px;
}
.navbar_left{
    flex:1;
}
.navbar_right{
    flex:3;
}
li{
    display: inline-block;
    padding:0 30px;
}
.login_button{
    background: #19BCE4;
    border-radius: 6px;
    padding: 11px 25px;
    color: white;
    border: none;
    margin-left: auto;
}
span{
    padding-left: 6px;
}
.infosection{
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-image: url(./assets/img/bg.png);
}
.infosection_wrapper{
    width: 100%;
    height: 100%;
    
    opacity: 0.3;
}
.title{
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 76px;
    color: #ffff;
    text-align: center;
    padding-top: 185px;
}