@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
.wrapper{
    width:90%;
    margin: auto;
}
.navbar_center{
    display: flex;
    align-items: center;
}
.navbar{
    display: flex;
    width:100%;
    height:130px;
}
.navbar_left{
    flex:1;
}
.navbar_right{
    flex:3;
}
li{
    display: inline-block;
    padding:0 40px;
}
.login_button{
    background: #19BCE4;
    border-radius: 6px;
    padding: 11px 25px;
    color: white;
    border: none;
    margin-left: auto;
}
span{
    padding-left: 6px;
}
.infosection{
    width: 100%;
    height: 100%;
    background-image: url(./assets/img/bg.png);
    padding-bottom: 140px;
}
.title{
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 76px;
    color: #ffff;
    text-align: center;
    padding-top: 185px;
}
.description{
    text-align: center;
    padding-top: 24px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}
.info{
    height:118px;
    background-color: #FFFFFF;
    margin-top: 97px;
    display:flex;
    padding:24px;
}
.item{
    flex:1;
    display: flex;
    height:70px;
    margin-right: 20px;
    border: 0.5px solid rgba(25, 188, 228, 0.3);
}
.item4{
    margin:0;
    background-color: #19BCE4;
    color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
}
.item_style{
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-left: 33px;
    line-height: 24px;
}
.photosection{
    margin-top: 120px;
    
}
.photosection_container{
    display: flex;
}
.photosection_left{
    margin-right: 80px;
}
.photosection_title{
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 61px;
    color: #222222;
}
.photo_desc{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;   
    color: #555555;
    margin-top: 25px;
}
.phsection_wrap{
    display: flex;
    margin-top: 40px;
}
.phsection_left{
    flex:1;
}
.phsection_right{
    flex:1;
}
.phsection_right_title{
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #222222;
    margin-top: 24px;
}
.phsection_right_desc{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #555555;
    margin-top: 16px;
}
.photosection_button{
    width: 169px;
    height: 56px;
    background: #19BCE4;
    border-radius: 6px;
    outline: none;
    border: none;
    color: #ffff;
    font-size: 18px;
    margin-top: 56px;
    cursor: pointer;
}