@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
.wrapper{
    width:90%;
    margin: auto;
}
.navbar_center{
    display: flex;
    align-items: center;
}
.navbar{
    display: flex;
    width:100%;
    height:130px;
}
.navbar_left{
    flex:1;
}
.navbar_right{
    flex:3;
}
.navlist{
    display: inline-block;
    padding:0 40px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #02012B;

}
.login_button{
    background: #19BCE4;
    border-radius: 6px;
    padding: 11px 25px;
    color: white;
    border: none;
    margin-left: auto;
}
span{
    padding-left: 6px;
}
.infosection{
    width: 100%;
    height: 100%;
    background-image: url(./assets/img/bg.png);
    padding-bottom: 140px;
}
.title{
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 76px;
    color: #ffff;
    text-align: center;
    padding-top: 185px;
}
.description{
    text-align: center;
    padding-top: 24px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}
.info{
    height:118px;
    background-color: #FFFFFF;
    margin-top: 97px;
    display:flex;
    padding:24px;
}
.item{
    flex:1;
    display: flex;
    height:70px;
    margin-right: 20px;
    border: 0.5px solid rgba(25, 188, 228, 0.3);
}
.item4{
    margin:0;
    background-color: #19BCE4;
    color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
}
.item_style{
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-left: 33px;
    line-height: 24px;
}
.photosection{
    margin-top: 120px;
    
}
.photosection_container{
    display: flex;
}
.photosection_left{
    margin-right: 80px;
}
.global_title{
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 61px;
    color: #222222;
}
.photo_desc{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;   
    color: #555555;
    margin-top: 25px;
}
.phsection_wrap{
    display: flex;
    margin-top: 40px;
}
.phsection_left{
    flex:1;
}
.phsection_right{
    flex:1;
}
.phsection_right_title{
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #222222;
    margin-top: 24px;
}
.phsection_right_desc{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #555555;
    margin-top: 16px;
}
.photosection_button{
    width: 169px;
    height: 56px;
    background: #19BCE4;
    border-radius: 6px;
    outline: none;
    border: none;
    color: #ffff;
    font-size: 18px;
    margin-top: 56px;
    cursor: pointer;
}
.photosection2 {
    margin-top: 165px;
    background-color: #F8FDFE;
    padding-bottom: 76px;
}
.photosection2_left{
    flex: 1;
    margin-right: 51px;
    margin-top: 68px;
}
.photosection2_right{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.photosection2_rightwrap{
    width: 90%;
    margin: auto;
    background-color: #ffff;
    display: flex;
    padding: 20px;
}
.phsection2_icon{
    margin-right: 29px;
}
.phsection2_texttitle{
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #222222;
    margin-bottom: 6px;
}
.phsection2_text{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
}
.gallerysection{
    background: #fff;
}
.gallery_centeredtext{
    margin-top: 120px;
    text-align: center;
}
.gallery_container_cities{
    display: flex;
    box-sizing: border-box;
    justify-content: space-evenly;
}
.gallery_city_left{
    flex: 1;
    padding-right: 25px;
}
.gallery_city_right1{
    flex: 1;
    padding-right: 25px;
}
.gallery_city_japan{
    margin-bottom: 25px;
}
.gallery_city_right2{
    flex: 1;
}
.gallery_city_malaysia{
    margin-bottom: 25px;
}
.whosecton_wrap{
    display: flex;
    background-color:#F8FDFE;
    margin-top: 120px;
}
.who_left{
    flex: 1;
    padding-left: 135px;
    padding-top: 70px;
}
.who_right{
    flex: 1;
}
.whosection_text{
    font-size: 18px;
    line-height: 30px;
    color: #555555;
    margin-top: 20px;
}
.whosection_button{
    background-color: #19BCE4;
    width: 190px;
    height: 56px;
    color: #FFFFFF;
    font-size: 18px;
    outline: none;
    border: none;
    border-radius: 6px;
    margin-top: 40px;

}
.peoplesection_wrap{
    background-color: #FFF8F7;
    margin-top: 120px;
}
.people_centeredtext{
    text-align: center;
}
/* continue */

.input_wrapper{
    margin: 120px;
    width: 80%;
    height: 251px;
    background: #19BCE4;
    border-radius: 24px;
    color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.subsribe_input{
    width: 100%;
    height: 64px;
    border-radius: 6px;
    border: none;
    outline: none;
    padding-left: 24px;
}
.input_typingwrap{
    position: relative;
    width: 70%;
    height: 64px;
    margin-top: 40px;
}
.input_button{
    background: #19BCE4;
    border-radius: 6px;
    color: #ffff;
    border: none;
    width: 120px;
    height: 48px;
    position:absolute;
    right: 10px;
    top:7px;
}
.footer{
    display: flex;
    background-color: #F8FDFE;
    justify-content: center;
    padding-right: 135px;
    padding-left: 135px;
    padding-top: 190px;
    padding-bottom: 74px;

}
.footer_building{
    flex: 2;
    display: flex;
    padding-right: 80px;
}
.footer_home{
    flex: 1;
}
.footer_services{
    flex: 1;
}
.footer_about{
    flex: 1;
}
.footer_contact{
    flex: 1;
}
li{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 27px;
    color: #555555;
    list-style-type: none;
}
.footerlist_title{
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 50px;
    color: #222222;

}
.footer_building_title{
    margin-left: 10px;
    margin-top: 15px;
}
.footer_building_desc{
    font-size: 12px;
    line-height: 27px;
    color: #555555;
    margin-top: 26px;
    margin-bottom: 40px;

}
.footer_contact_icon{
    width: 16px; height: 16px;
}

